<ul>
  {{ $mgDir := "static/manualsguides" }} 
  {{ $lang := .Site.Language.Lang }} 
  
  {{ $folders := readDir $mgDir }}
  {{ range $folders }}
    {{ if .IsDir }} 
      {{ $folderPath := printf "%s/%s" $mgDir .Name }}
      {{ $files := readDir $folderPath }} 

      {{ range $files }}
        {{ $fileName := .Name }} 
        {{ $fileLang := "" }}
        
        {{ if strings.Contains $fileName "en.html" }}{{ $fileLang = "en" }}{{ end }}
        {{ if strings.Contains $fileName "fr.html" }}{{ $fileLang = "fr" }}{{ end }}
        {{ if strings.Contains $fileName "es.html" }}{{ $fileLang = "es" }}{{ end }}

        {{ if eq $fileLang $lang }}
          {{ $relativePath := strings.TrimPrefix "static/" $folderPath }}
          {{ $filePath := printf "%s/%s" $folderPath $fileName }}
          
          {{ $fileContent := readFile $filePath }}
          
          {{ $titleMatches := findRE "<title>(.*?)</title>" $fileContent }}
          {{ $pageTitle := "Untitled" }}
          {{ if gt (len $titleMatches) 0 }}
            {{ $pageTitle = index $titleMatches 0 | replaceRE "<title>(.*?)</title>" "$1" }}
          {{ end }}

          <li>
            <a href="{{ printf "%s/%s/%s" $.Site.BaseURL $relativePath $fileName }}">{{ $pageTitle }}</a>
          </li>
        {{ end }}
      {{ end }}
    {{ end }}
  {{ end }}
</ul>
