{{ define "main" }}
    <header>
        <h2>{{ .Title }}</h2>
        {{ with .Description }}<p>{{ . }}</p>{{ end }}
    </header>

    <div class="contact-list">
        {{ range .Params.contacts }}
        <div class="contact-item" style="display: flex; align-items: center; gap: 15px;">
            <img src="{{ .image | relURL }}" alt="{{ .name }}" class="contact-img" style="width: 15%; height: auto;">
            <div class="contact-info" style="width: 75%;">
                <h3>{{ .name }}</h3>
                <p><strong>{{ i18n "institution" }}:</strong> {{ .institution }}</p>
                <p><strong>Email:</strong> <a href="mailto:{{ .email }}">{{ .email }}</a></p>
          </div>
        </div>
        {{ end }}
    </div>
{{ end }}
