<section class="col-6 col-12-narrower">
    <div class="box post">
        {{ $link := .RelPermalink }}
        {{ with .Params.redirect_url }}
            {{ $link = . }}
        {{ end }}
        <a href="{{ $link }}" class="image left"><img src="{{ .Params.image | relURL }}" alt="{{ .Params.image_alt }}" /></a>
        <div class="inner">
            <h3><a href="{{ $link }}">{{ .Title | safeHTML }}</a></h3>
            {{ if .Site.Params.show_post_dates | default true }}
                {{- with .Date }}<time>{{ . | time.Format ":date_medium" }}</time>{{ end }}
            {{ end }}
            <p>
                {{ with .Description }}
                    {{- . | safeHTML }}
                {{- else }}
                    {{- .Summary | safeHTML }}
                {{- end }}
            </p>
        </div>
    </div>
</section>
